/********************************************************/
/*      stylesheet for My PROJECT                       */
/*      author: Juan Carlos Ocaña Heredia               */
/*      version. 1.0                                    */
/*      comment: project for Lenguaje de Marcas - 1ºDAM */
/********************************************************/

/********************** FONTS ***************************/
@font-face {
    font-family: header;
    src: url(../fonts/Pop\ Warner.ttf);
}
@font-face {
    font-family: textonormal;
    src: url(../fonts/Ubuntu-B.ttf);
}
@font-face {
    font-family: titulo;
    src: url(../fonts/Soccer\ Team.otf);
}

/********************** GENERAL STYLE ***************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: textonormal;
}
body{
    background-image: url(../img/background.jpg);
    background-size: 100%;
}
#wrapper{
    background: rgb(255, 255, 255);
}

/************************ HERO SECTION ******************************/
.hero{
    width: 100%;
    margin-top: 100px;
    text-align: center;
}
.logo{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid white;
    margin: auto;
}
.logo img{
    width: 100%;
    height: 100%;
}
.hero h1{
    font-weight: 100;
    color: white;
    margin-top: 20px;
}
.hero button{
    margin-top: 40px;
    padding: 1%;
}

/********************* HISTORY SECTION ************************/
.history{
    width: 100%;
    margin-top: 20px;
    background-color: rgb(150, 210, 150);
}
.img-history{
    width: 100%;
    text-align: center;
}
.img-history img{
    width: 300px;
    height: auto;
    border-radius: 25%;
    margin: auto;
}
.text-history{
    width: 100%;
}
.text-history h1{
    margin-top: 40px;
    font-weight: 100;
    text-align: center;
}
.text-history hr{
    width: 110px;
    height: 3px;
    margin: auto;
    border-style: none;
    background: black;
    margin-top: 10px;
}
.text-history p{
    margin-top: 30px;
    color: black;
    letter-spacing: 1px;
}
.button-readmore{
    width: 200px;
    padding: 16px;
    padding-bottom: 10px;
    border: 2px solid green;
    border-radius: 10px;
    margin: auto;
    margin-top: 40px;
    text-align: center;
}
.button-readmore:hover{
    background: green;
}

/******************** SKILLS SECTION **********************/
.skills{
    padding: 15px;
    background-color: rgb(88, 168, 88);
}
.skills h1{
    margin-top: 40px;
    font-weight: 100;
    text-align: center;
}
.skills hr{
    width: 110px;
    height: 3px;
    margin: auto;
    border-style: none;
    background: black;
    margin-top: 10px;
}
.responsive-iframe {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}