/********************************************************/
/*      stylesheet for My PROJECT                       */
/*      author: Juan Carlos Ocaña Heredia               */
/*      version. 1.0                                    */
/*      comment: project for Lenguaje de Marcas - 1ºDAM */
/********************************************************/

/********************** FONTS ***************************/
@font-face {
    font-family: header;
    src: url(../fonts/Pop\ Warner.ttf);
}
@font-face {
    font-family: textonormal;
    src: url(../fonts/Ubuntu-B.ttf);
}
@font-face {
    font-family: titulo;
    src: url(../fonts/Soccer\ Team.otf);
}

/********************** GENERAL STYLE ***************************/
*{box-sizing: border-box;}
body{
    font-family: textonormal;
    background-image: url(../img/background.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
}
#wrapper {
    background-color: rgb(99, 163, 99);
    width: 100%;
    margin: auto;
}
h1{
    font-family: header;
    text-align: center;
    font-size: 4em;
    position: relative;
    padding-top: 40%;
    }
h2{
    font-family: header;
    text-align: center;
    font-size: 2em;
    padding-top: 30px;
}

/************************* NAV STYLE **********************************/

#burguer{
    font-size: 2em;
    text-align: center;
    cursor: pointer;
    position: fixed;
    z-index: 1;
    top: 10px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.69);
    padding: 3px;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgb(99, 163, 99); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }
  /* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    }
  /* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #6a6a6a;
    }
  /* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    }

/************************ HERO SECTION ******************************/

#hero{
    background-image: url(../img/hero.jpg);
    background-size: cover;
    height: 50vh;
    background-position: center;    
    position: relative;
}                                           
#hero button{
    font-family: textonormal;
    background-color: #ffffff;
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translate(-50%,-50%);
}
button{
    border: none;
    font-weight: bold;
    font-size: 0.8em;
    padding: 3px 15px;
    border-radius: 15px;
    background-color: rgb(16, 185, 69);
}
#hero button:hover{
    background-color: rgb(155, 186, 158);
}

/********************* INTRO SECTION ************************/

.grid-2{
    display: grid;
    grid-template-columns: 100%;                
}
#intro .col-2{
    padding: 6%;
}
#intro img{
    width: 100%;
}
#intro button{
    font-family: textonormal;
    background-color: #ffffff;
}
#intro{
    padding: 15px;
}
#intro button:hover{
    background-color: rgb(155, 186, 158);
}
#more{
    display: none;
}

/******************** SKILLS SECTION **********************/

#skills{
    background-color: rgb(53, 116, 62);
    padding: 15px;
}
#skills .col-2{
    padding: 4%;
    color: rgb(7, 138, 27);
}
.container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}
  /* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

/*********************** TROPHIES ***************************/

#trophies{
    background-color: rgb(53, 116, 62);
    padding: 15px;
}
.grid-3{
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
}
#trophies .col-3{
    padding: 5%;
    border-radius: 10px;
    color: #565b64;
}
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card img{
    width: 280px;
    height: 280px;
    font-family: textonormal;
}
.flip-card {
    border-radius: 10px;
    margin: auto;
    width: 300px;
    height: 300px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
  /* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
  /* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
/* Style the front side (fallback if image is missing) */
.flip-card-front {
    color: black;
}
/* Style the back side */
.flip-card-back {
    border: 1px solid white;
    color: white;
    transform: rotateY(180deg);
    border-radius: 10px;
}

/*********************** FOOTER ***************************/

footer{
    padding: 40px 0;
}
footer .social a{
    font-size: 24px;
    color: inherit;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}
footer .social a:hover{
    opacity: 0.9;
}
footer ul{
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
footer ul li a{
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}
footer ul li{
    display: inline-block;
    padding: 0 15px;
}
footer ul li a:hover{
    opacity: 0.6;
}
footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
}

/******************** RESPONSIVIDAD ***********************/

@media only screen and (min-width:600px){
    h1{padding-top: 30%;
    font-size: 6em;}
    .grid-2{grid-template-columns: auto auto;}
    .grid-3{grid-template-columns: auto auto;}
    .grid-4{grid-template-columns: auto auto;}
}

@media only screen and (min-width:900px) {
    #wrapper{width: 80%;}
    h1{padding-top: 10%;}
    .grid-2{grid-template-columns: auto auto;}    
    .grid-3{grid-template-columns: auto auto auto;}
    .grid-4{grid-template-columns: auto auto auto;}
}

/************ RESPONSIVIDAD DE topnav responsive ***********/

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
    float: right;
    display: block;
    }
}
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
/* El punto de corte ideal es el que evita dos filas de botones */
@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
    }
    .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    }
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
.column {
    flex: 50%;
    max-width: 50%;
    }
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
.column {
    flex: 100%;
    max-width: 100%;
    }
}