@font-face {
    font-family: titulo;
    src: url(../fonts/Soccer\ Team.otf);
}
@font-face {
    font-family: textonormal;
    src: url(../fonts/NimbusSanL-Bol.otf);
}
*{box-sizing: border-box;}
body{
    font-family: textonormal;
    background-image: url(../img/1137.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
}
header{
    font-size: 80px;
    padding: 50px;
    background-color: green;
    text-align: center;
}
nav{

    display: flex;
    flex-direction: row;
    background-color: darkgreen;
}
nav a{
    color: black;
    padding: 14px 20px;
    text-decoration: none;
}
#wrapper {
    font-family: titulo;
    background-color: rgb(99, 163, 99);
    width: 70%;
    margin: auto;
}
#hero{
    flex: 100%;
    background-color: rgb(99, 163, 99);
    padding: 20px;
}
h1,h2{
    text-align: center;
    border-bottom: 3px solid;
    border-radius: 5px;
    margin: auto;
    padding: 15px;
    margin-bottom: 30px;
    box-shadow: 5px 5px 5px 5px darkgreen;
}
footer{
    font-size: 20px;
    padding: 20px;
    text-align: center;
    background-color: darkgreen;
}


/******************** RESPONSIVIDAD ***********************/

@media only screen and (width<900px) {
    #wrapper{
        width: 100%;
        flex-direction: column;
    }
}